<div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <!-- Sidebar content (if any) -->
        <div class="logo">MediChat</div>
        <button [routerLink]="['']" class="btn btn-primary">Home</button>
      </div>
      <div class="col-md-9">
        <div class="chat-area">
          <!-- Display example questions when no messages -->
          <ng-container *ngIf="messages.length === 0">
            <p>
              Hi! How can I help you today? Here are some example questions you can ask me:
            </p>
            <ul>
              <button (click)="sendMessage('What are the symptoms of diabetes?')" class="btn btn-outline-primary btn-sm">What are the symptoms of diabetes?</button>
              <button (click)="sendMessage('How can I lower my blood pressure?')" class="btn btn-outline-primary btn-sm">How can I lower my blood pressure?</button>
              <button (click)="sendMessage('What are the risk factors for heart disease?')" class="btn btn-outline-primary btn-sm">What are the risk factors for heart disease?</button>
              <button (click)="sendMessage('How can I improve my sleep quality?')" class="btn btn-outline-primary btn-sm">How can I improve my sleep quality?</button>
            </ul>
          </ng-container>
  
          <div *ngFor="let message of messages" class="response-item">
            <div>
              <h3>{{ message.sender }}</h3>
              <div *ngFor="let text of message.text" class="text-block">
                <div class="response">
                  <p>{{ text }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
          <!-- User input and send button -->
          <div class="user-input position-fixed bottom-0 start-50 translate-middle-x p-3 bg-light border rounded shadow-sm" style="max-width: 600px;">
            <!-- <textarea type="text" [(ngModel)]="userInput" class="form-control form-control-lg border-0 rounded-0" placeholder="Type your message..." (keydown.enter)="sendMessage()"> -->
            <textarea rows="1" placeholder="Type your message..." class="form-control form-control-lg border-0 rounded-0" (input)="onTextareaInput($event)" [(ngModel)]="userInput" (keydown.enter)="sendMessage()"></textarea>
            <div class="input-group-append">
              <button class="btn btn-primary btn-lg mt-2" (click)="sendMessage()" [disabled]="!userInput.trim()">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
